.container .places {
    position: relative;
    padding-top: 30px;
    margin-top: 45px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .places h1 {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 30px;
}

.container .places article {
    padding: 20px;
    margin: 20px;

    border: #FF5A5F 1px solid;
    border-radius: 4px;

    flex: 0 0 390px;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .places article h2 {
    font-size: 30px; text-align: center;
}

